/* @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

.booklist__container {
  margin-top: 3rem;

  /* font-family: 'Acme', sans-serif; */
  font-family: 'Preahvihear', sans-serif;
}

.book__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  letter-spacing: 1px;
  list-style: none;
  margin: 0 3% 3%;
  border-radius: 1rem;
  padding: 1rem;
  background-color: #ecebe4;
}

.drop__shadow {
  box-shadow: -10px -10px 30px #fff, 10px 10px 30px rgba(174, 174, 192, 0.4);
}

.banner {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.book__image img {
  width: 5rem;
  border-radius: 50%;
}

.content > small {
  color: #999;
  font-weight: 800;
}

.content > h2 {
  margin: 2px;
}

.content p {
  margin-top: 2px;
  color: blue;
}

.cta__container {
  display: flex;
  gap: 1rem;
}

.cta__container > button {
  padding: 0.6rem;
  font-size: 0.9rem;
  border-radius: 1rem;
  color: blue;
  background: transparent;
  border: 1px solid #ddc59b;
}

.input__container > button {
  padding: 0.8rem;
}

.cta__container > button:hover {
  background-color: rgb(51, 182, 226);
  color: #fff;
}

.progress__container1 {
  display: none;
}

.progress__container p {
  color: rgb(139, 136, 136);
}

.progress__container::after {
  content: "";
  right: 15%;
  width: 2px;
  height: 4rem;
  background: rgb(223, 216, 216);
}

.current__chapter {
  color: #999;
  margin-bottom: 0;
}

.update__container p {
  margin-top: 2px;
  font-size: 1.1rem;
}

.progress__btn {
  background-color: rgb(51, 182, 226);
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 0.8rem;
  margin-top: 1.5rem;
  border-radius: 0.2rem;
}

.input__container {
  margin: 2rem;
  padding: 2rem;
}

.input__container > h1 {
  color: #999;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.4fr;
  gap: 1rem;
  width: 100%;
}

input {
  padding: 0.8rem;
}

.add__btn {
  color: #fff;
  font-weight: 600;
  background: rgb(51, 182, 226);
  border: none;
}

/* Media queries */
@media only screen and (max-width: 675px) {
  .book__container {
    grid-template-columns: 1fr;
    margin: 0 3% 5%;
  }

  .cta__container {
    display: flex;
  }

  .progress__btn {
    margin-top: 0.6rem;
  }

  form {
    display: grid;
    grid-template-columns: 1fr;
  }

  select {
    padding: 0.8rem;
  }

  .add__btn {
    padding: 0.8rem;
  }

  .progress__container {
    display: none;
  }
}

@media only screen and (max-width: 890px) and (min-width: 675px) {
  .book__container {
    grid-template-columns: repeat(2, 1fr);
  }
}
