.booklist__container {
  margin-top: 3rem;
}

.book__container {
  display: grid;
  grid-template-columns: 50% 25% 15%;
  background: #fffcfc;
  list-style: none;
  margin-bottom: 1.2rem;
  margin-left: 5%;
  margin-right: 5%;
  padding: 1rem;
  box-shadow: 20px 20px 30px 20px #e6e1e1;
}

.book__content > small {
  color: #999;
  font-weight: 800;
}

.book__content > h2 {
  margin: 2px;
}

.book__content p {
  margin-top: 2px;
  color: blue;
}

.cta__container {
  display: flex;
  gap: 1rem;
}

.cta__container > button {
  padding: 0.6rem;
  border: none;
  color: blue;
}

.progress__container {
  display: grid;
  grid-template-columns: 20% 2%;
  gap: 2rem;
  position: relative;
  align-items: center;
}

.circle {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  border: 4px solid rgb(51, 182, 226);
  border-width: 5px;
}

.percentage h1 {
  font-size: 3rem;
  font-weight: 200;
  margin: 0;
}

.percentage p {
  margin: 0;
  color: rgb(139, 136, 136);
}

.progress__container::after {
  content: "";
  position: absolute;
  right: 15%;
  width: 2px;
  height: 4rem;
  background: rgb(223, 216, 216);
}

.current__chapter {
  color: #999;
  margin-bottom: 0;
}

.update__container p {
  margin-top: 2px;
  font-size: 1.1rem;
}

.progress__btn {
  background-color: rgb(51, 182, 226);
  color: #fff;
  font-weight: 600;
  border: none;
  padding: 0.8rem;
  margin-top: 1.5rem;
  border-radius: 0.2rem;
}

.input__container {
  margin: 2rem;
  padding: 2rem;
}

.input__container > h1 {
  color: #999;
}

form {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.2fr;
  gap: 1rem;
  width: 80%;
}

input {
  padding: 0.8rem;
}

.input__container > button {
  padding: 0.8rem;
}

.add__btn {
  color: #fff;
  font-weight: 600;
  background: rgb(51, 182, 226);
  border: none;
}
