body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2.2rem;
  box-shadow: 1px 1px 1px rgb(218, 214, 214);
}

.logo {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  color: rgb(51, 182, 226);
}

nav {
  display: flex;
  gap: 2rem;
  margin-right: 50%;
}

.nav__item {
  text-decoration: none;
  font-size: 1.1rem;
  right: 50%;
  color: #000;
}

.nav__item:hover,
.nav__item:focus {
  color: gray;
}

.login {
  position: absolute;
  right: 8%;
  font-size: 1.2rem;
  color: rgb(51, 182, 226);
  padding: 0.8rem;
  border: 1px solid #999;
  border-radius: 50%;
}
